<%= render :partial => 'blog/admin/shared/post_tabs', :locals => {:current => "Post Details"} %>

<h5><%= h date_full(@post.posted_at) %></h5>
<br/>

<% for image in @post.images do %>
  <%= image_tag image.attachment.url(:small), :alt => @post.title %>
<% end %>

<%= RDiscount.new(@post.body).to_html.html_safe %>

<br class="clear" />
  
<p>
  <%= link_to_edit @user %> &nbsp;
  <%= link_to t('back'), collection_url %>
</p>
